body {
    background-image: linear-gradient(to right top, #1f0537, #380c60, #55108c, #7413bb, #9612eb);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    position: relative;
    width: 300px;
    height: 425px;
    border: 10px solid #9612eb;
    margin: 60px auto 0 auto;
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, rgb(255 255 255 / 74%), rgb(255 255 255 / 51%)), url(/img/birthday.jpg);

    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    background-color: #e6f0e6;
}

.card .text-container {
    width: 80%;
    height: 80%;
    margin: auto;
}

.strikethrough {
    text-decoration: line-through;
}

.card .text-container #head {
    font-family: 'Nobile', sans-serif;
    font-size: 1.5em;
    margin: 60px auto 60px auto;
}

.card p {
    font-size: 1.1em;
    line-height: 1.4;
    font-family: 'Nobile';
    color: #331717;
    font-style: italic;
    text-align: center;
    margin: 30px auto 0px auto;
}

.card .front {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px 0px 0px -10px;
    border: 10px solid #9612eb;
    backface-visibility: hidden;
    background-color: #9612eb;
    /* background-image: url($cover-image);
	 */
    background-size: contain;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
}

.card:hover .front {
    transform: perspective(800px) rotateY(-170deg);
    background-color: #41718d;
}

.card:hover .back {
    transform: perspective(800px) rotateY(-170deg);
    box-shadow: 7px 0px 5px 0px rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #d2dcd2;
}

.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #9612eb;
    margin: -10px 0px 0px -10px;
    backface-visibility: visible;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, .5));
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
    background-color: #e6f0e6;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.imgset {
    position: relative;
    z-index: 1;
    margin-bottom: -215px;
}

.imgset img {
    box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

.sir {
    width: 100%;
    height: 100%;
    background: url(https://lh3.googleusercontent.com/fife/AAWUweWj6LaJmM8ctz4b1fGJBVPpLYwEnOKjHv_9xSG14pG17RoQEugwkOSJgtGHv-Zmo6YtTCeASlgoqLUU0jAGx6cRQ2EM5SvJL58jOkTaGMp0L7158397FwG2zxhL_mFVTXO7Uqb6JtjUdOdkUhWNiOHRoPKJb7xt6PLBpXJc2yrEZqYkRtkoiNYGI-EVS5Nc-VoO5OLdRiHevoV1qV9soQTWcQr_AXzZ_GKhgZ4Y8FyX37TI2Cwhmkuxg3_YRhoIfh9GMHIHWMASUug9JyGht9efg4jRuF4FZ51NKay-9aMWSrixBdUy0EPdk75bQTEGPUeZDDdINJkXRfELMtfwW3fU818dxwDwUjx5g8V_66aKOxZ-DBQemOQH5S0XyP6F0RQ9PQeHakhQVzRgk22AH6DNicopGRNdoXndMsEZ3vfAGxhW8vw2OCdd_A7AGSv4uO15e4SrMCn8D11zA8SsjjX5qRcChIY6z_N-Ax7KEuv8EX8IPQMa8z4spbRcEKyRLhWCNs48Khr-yL2nUDoJICAK2v67MA77oXbXBhh5iddBtyzGyrfmT1hc8d_yDm5pqxalODbkYhm7ct70q_rqJhKF_MthsgyykiHw4xZwWVmsPIScgJPrlo1AIs1wMKVWn0HD4CVHiaLMFJTSr9PNibok0wUdI5FS9oEkA3jDpZp3akREZ1Eh63rHr1b_8iVRhuEQ-m_bu2knsGfOzyJZX6fFY1Oms4ZHig=w3000-h5334-ft);
    background-size: cover;
    z-index: 999;
    background-position: center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
    .card {
        left: 23%;
    }
}
